*{
    margin:0; font-family: 'Work Sans', sans-serif; font-weight: 400;

}
.btn-primary{
    background-color: #fff; color:#0763AE; border:0; border-radius: 5px; font-weight: 700;  padding: 20px 35px; font-size: 18px; border: 1px solid transparent;
}

.btn-primary:hover{
   cursor: pointer; border: 1px solid #fff; background: transparent; color:#fff
}
main{
    max-width: 1100px; margin: 0 auto;
}
/* Banner styles  */
.banner{
    padding:10% 10% 10% 50%;  background-image: url('../images/banner/banner3.png'); background-size: cover; background-repeat: no-repeat; text-align: right;  max-height: 800px;
}


.banner-title{
    color: #fff; font-weight: 700; font-size: 65px;
}
.banner-description{
    color: #fff; margin: 30px 0; line-height:35px
}



/* About section  */
.about{
    display: flex; align-items: center; margin-top: 100px;
}

.about-title{
    font-size: 40px; font-weight: 700; color: #151414;
}

.about-description{
    margin: 20px 0; line-height: 26px;
}

.failures{
    padding: 0;  list-style: none;
}
.failures li{
        padding: 10px 0 10px 40px; background-image: url("../images/icons/check-mark.png"); background-repeat: no-repeat; background-position: left center; background-size: 30px;
}

.content-section{
    padding: 80px;
}


/* My plans section  */

.my-plans{
    margin-top: 100px;
}

.my-plans-title{
    text-align: center; font-weight: 700; font-size: 40px; margin-bottom: 50px;
}
.plan-container{
    display: flex; justify-content: space-around; gap: 30px;
}

.plan{
    text-align: center;  padding: 20px;
}

.plan-title{
    font-size: 25px; font-weight: 700; color: #151414; margin: 20px 0;
}

.plan-description{
    color:#737272; font-size: 22px; font-weight: 500;
}

/* Contact section  */
.contact{
    margin-top: 100px;
}
.contact-banner{
    background-image:linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%), url(../images/watch.png); background-size: cover; background-position: center; padding: 60px;  border-radius: 10px;
}

.contact-title{
    color: #fff; font-size: 45px; margin: 0 40% 30px 0; font-weight: 700;
}

/* Footer section  */
footer{
    padding:120px; background: #151414; margin-top: 100px; display: flex; justify-content: space-between;
}

.get-in-touch{
    width: 60%;
}

.footer-title{
    color: #fff; font-size: 40px; font-weight: 700;
}

.footer-text{
    color:#fff; margin: 20px 0; line-height: 25px; padding-right: 50px;
}

.email, .phone{
    color: #fff; margin: 20px 0;
}

.subscription{width: 40%; padding: 0 30px 0 250px;}
.subs-title{color:#fff; font-size: 25px; font-weight: 500;}
footer input[type=email]{
    width: 100%; background-color: #151414; color:#fff;  border: 1px solid #fff; border-radius:8px; padding:15px; margin: 20px 0;
}

footer input[type=submit]{
    background-color: #005FAC; color:#fff; padding:18px 35px; font-size: 18px; font-weight: 500; border: 0; border-radius: 6px;
}

footer input[type=submit]:hover{
    background-color: #fff; color:#005EAB; cursor: pointer;
}


/* Own section style  */

.technologies{margin-top:100px}
.technologies .container{
    display: flex; gap: 25px;
}
.technologie{
    width: 25%; text-align: center;  border: 2px solid #FFEEEE; padding: 20px; box-shadow:0px 6px 50px rgba(0, 0, 0, 0.055); border-radius: 0 50px 0 50px; cursor: pointer; 
}

.technologie:hover{background-color: #FFEEEE;}
.title{
    font-size: 45px; font-weight: 700; text-align: center; margin-bottom: 50px; 
}

.tech-title{
    font-size: 26px; font-weight: 700; color:#151414; margin: 10px 0;
}

.react, .node{width: 80px;}
.mongo{width: 40px;}
.express{width: 180px; margin: 25px 0 10px;}